include ../addons

div.detail
  if user && (user.role == 'Super-Admin' || (user.role == 'Admin' && user.congregation == obj.congregation.id))
    +editdeletebuttons('/{{ obj.slug }}')
  +datum
    h1 {{ obj.name }}
  div(ng-showif="{{ obj.parent }}")
    +datum
      h2 {{ obj.parent.name }}
  +datum("Website", "obj.website")
    a(href='{{ obj.website }}') {{ obj.website }}
  +multidatum("Phone", "obj.phone")
    a(href='tel:{{ obj.value }}') {{ obj_ii.value }}
  +multidatum("Social Media", "obj.social_media")
    +socialmedia('obj_ii')
  +multidatum("Address", "obj.address")
    +address('obj_ii')
  +multidatum("Rooms", "obj.rooms")
    {{ obj_ii.value }}