include ../addons
include ../forms

div.well(ng-controller="CongregationCreateCtrl")
  +valform('congregationCreateForm', [
    {
      type: 'scope_select',
      name: 'parent',
      label: "Parent Congregation",
      scope_variable: "congregations",
      scope_iterator: "c._id as c.name for c in congregations",
      required: true,
    },
    {type: 'text', name: 'name', label: "Name", required: true},
    {type: 'text', name: 'color', label: "Color", required: false},
    {type: 'text', name: 'website', label: "Website", required: false},
    [{type: 'tel', name: 'phone', label: "Phone"}],
    [{type: 'text', name: 'social_media', label: "Social Media"}],
    [{type: 'location', name: 'address', label: "Address"}]
  ])