include ../addons

div.detail
  if user && (user.role == 'Super-Admin' || (user.role == 'Admin' && user.congregation == obj.congregation.id))
    +editdeletebuttons('/users/{{ obj.slug }}')
  +datum
    h1 {{ obj.first_name }} {{ obj.last_name }}
  +datum
    h2 ({{ obj.congregation.name }})
  +datum("Email")
    a(ng-href='mailto:{{ obj.username }}') {{ obj.username }}
  +datum("Role")
    {{ obj.role}}