include ../addons

div.list.well
  div.row
    div.col-xs-12
      div.input-group
        span.input-group-btn
          a.btn.btn-primary(href='/people/new')
            +glyphicon("plus")
            | Add
        input.form-control(type='search',
                           placeholder="Search",
                           ng-model="search")  
  div.person-list.row(ng-repeat="person in obj_list | filter:search")
    div.hidden-xs.col-sm-2
      a.action(ng-click="quickdelete(person.slug)")
        +glyphicon("remove")
      a.action(href='/people/{{ person.slug }}/edit')
        +glyphicon("edit")
      a.action(href='/people/{{ person.slug }}')
        +glyphicon("info-sign")
    div.col-sm-2.hidden-xs {{ person.first_name }}
    div.col-sm-2.hidden-xs {{ person.last_name }}
    div.col-sm-3.visible-xs
      a(href='/people/{{ person.slug }}') {{ person.name }}
    div.col-sm-3
      a(href="mailto:{{ person.email[0].value }}")
        {{ person.email[0].value }}
    div.col-sm-3
      a(href="tel:{{ person.phone[0].value }}")
        {{ person.phone[0].value }}