include ../addons

div.detail
  if user && (user.role == 'Super-Admin' || (user.role == 'Admin' && user.congregation == obj.congregation.id))
    +editdeletebuttons('/people/{{ obj.slug }}')
  +datum
    h1 {{ obj.first_name }} {{ obj.last_name }}
  +datum
    h2 ({{ obj.congregation.name }})
  div(ng-showif="obj.age.age")
    +datum
      h3 {{ obj.age.formatted }}
  +multidatum("Important Dates", "obj.date")
    {{ obj_ii.value | date }} 
  +multidatum("Email", "obj.email")
    a(ng-href='mailto:{{ obj_ii.value }}') {{ obj_ii.value }}
  +multidatum("Phone", "obj.phone")
    a(ng-href='tel:{{ obj_ii.value }}') {{ obj_ii.value }}
  +multidatum("Social Media", "obj.social_media")
    +socialmedia('obj_ii')
  +multidatum("Address", "obj.address")
    +address('obj_ii')
  +multidatum("Relationships", "obj.relationships")
    {{ obj_ii.person_a.name }} = {{ obj_ii.type }} = {{ obj_ii.person_b.name }}