include ../addons
include ../forms

div.well(ng-controller="PersonCreateCtrl")
  +valform('personCreateForm', [
    {
      type: 'scope_select',
      name: 'congregation',
      label: "Congregation",
      scope_variable: "congregations",
      scope_iterator: "c._id as c.name for c in congregations",
      required: true,
    },
    {type: 'text', name: 'first_name', label: "First Name", required: true},
    {type: 'text', name: 'last_name', label: "Last Name", required: true},
    [{type: 'date', name: 'date', label: "Important Dates",
      choices: ['Birthday', 'Baptism', 'Confirmation', 'Wedding']
    }],
    [{type: 'email', name: 'email', label: "Email",
      choices: ['Personal', 'Work']
    }],
    [{type: 'tel', name: 'phone', label: "Phone",
      choices: ['Home', 'Work', 'Cell']
    }],
    [{type: 'text', name: 'social_media', label: "Social Media",
      choices: ['Twitter', 'Facebook']
    }],
    [{type: 'location', name: 'address', label: "Address",
      choices: ['Home', 'Office']
    }]
  ])