include ../addons

div.detail
  +editdeletebuttons('/people/{{ obj.slug }}')
  +datum
    h1 {{ obj.first_name }} {{ obj.last_name }}
  +datum
    h2 ({{ obj.congregation.name }})
  div(ng-showif="obj.age.age")
    +datum
      h3 {{ obj.age.formatted }}
  +multidatum("Important Dates", "obj.date")
    {{ obj.value | date }} 
  +multidatum("Email", "obj.email")
    a(ng-href='mailto:{{ obj.value }}') {{ obj.value }}
  +multidatum("Phone", "obj.phone")
    a(ng-href='tel:{{ obj.value }}') {{ obj.value }}
  +multidatum("Social Media", "obj.social_media")
    a(ng-href='http://www.{{ obj.label }}.com/{{ obj.value }}') {{ obj.value }}
  +multidatum("Address", "obj.address")
    +address