doctype html
html(lang='en', ng-app='opendoors')
  head
    base(href='/')
    title(ng-bind="'OpenDoors - '+$root.title") OpenDoors - Welcome
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/fullcalendar/fullcalendar.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-2.1.0.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.js')
    script(src='/components/angular-strap/dist/angular-strap.js')
    script(src='/components/angular-strap/dist/angular-strap.tpl.js')
    script(src='/components/angular-ui-calendar/src/calendar.js')
    script(src='/components/fullcalendar/fullcalendar.js')
    script(src='/javascripts/opendoors.js')
    script(src='/javascripts/ngcrud.js')
    script(src='/javascripts/user.js')
    script(src='/javascripts/people.js')
    script(src='/javascripts/congregation.js')
    script(src='/javascripts/event.js')
  body(ng-cloak)
    nav.navbar.navbar-default(role='navigation', ng-controller="NavCtrl")
      div.navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') OpenDoors
      div.collapse.navbar-collapse(id='navbar-collapse')
        ul.nav.navbar-nav
          li.active
            a(href='/') Home
          li
            a(href='/people') People
          li
            a(href='/event') Events
          li
            a(href='/congregation') Congregations
          if user && (user.role == 'Admin' || user.role == 'Super-Admin')
            li
              a(href='/users') Admin
        ul.nav.navbar-nav.navbar-right
          if user && user.congregation
            li
              a.congregation(href="/{{ congregation.slug }}") {{ congregation.name }}
          if (!user)
            li
              a(href="/login") Login
            li
              a(href="/register") Register
          if (user)
            li
              a(href="/logout") Logout
    div.container
      ng-view
    script
      if (!user)
        | var user = null
      else
        | var user = { username: "#{user.username}", role: "#{user.role}", congregation: "#{user.congregation}" }